.wrapper {
  width: 100%;
  border: 1px solid #5C33BE;
  border-radius: 8px;
  nav {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0 4px;
    &::-webkit-scrollbar {
      display: none;
    }
    > span {
      padding: 6px;
      flex-shrink: 0;
      color: #999999;
    }
  }
  >ol {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    line-height: 32px;
    height: calc(32px * 12);
    padding: 1px 4px;
    align-content: flex-start;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    >li {
      flex-grow: 0;
      flex-shrink: 0;
      width: 10%;
      text-align: center;
      &.selectedEmoji{
        outline: 1px solid var(--button-bg);
        border-radius: var(--input-radius);
      }
    }
  }
}