.tabs {
  position:relative;
  &_nav {
    width: 100%;
    color: var(--navbar-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background: var(--navbar-bg-end);
    >li {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: center;
      padding: 12px 6px;
      &.selected {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          display: block;
          left: 0; 
          bottom: 0;
          height: 4px;
          width: 100%;
          background-color: rgba(245, 245, 245, 0.5);
        }
      }
    }
    
  }
}