.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, #5c33be 0%, #8f4cd7 100%);
  > header {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d4d4ee;
  }
  > main {
    flex: 1;
    // flex column
    display: flex;
    flex-direction: column;
  }
}
