:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5c33be;
  --welcome-bg-end: #8f4cd7;
  --welcome-nav-height: 64px;
  --button-bg: #5C33BE;
  --button-text: white;
  --button-active-border: #457AF7;
  --button-font-size: 18px;
  --buton-height: 48px;
  --buton-border-radius: 8px;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text-color: white;
  --navbar-font-size: 24px;
  --overlay-bg: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: white;
  --z-index-overlay: 16;
  --top-safe-area-height: 24px;
}