:root {
  --main: #5c33be;
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #5c33be;
  --welcome-bg-end: #8f4cd7;
  --welcome-nav-height: 64px;
  --button-bg: #5C33BE;
  --button-text: white;
  --button-active-border: #457AF7;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-bg-danger: #E10505;
  --buton-height: 48px;
  --buton-border-radius: 8px;
  --date-text: #999999;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-text-color: white;
  --navbar-font-size: 24px;
  --overlay-bg: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-user-bg: #5C33BE;
  --overlay-user-text: white;
  --z-index-overlay: 16;
  --top-safe-area-height: 24px;
  --keyboard-bg: white;
  --keyboard-border-color: #ddd;
  --keyboard-bg-important: #5C33BE;
  --keyboard-text-important: white;
  --amount-text: #53A867;
  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --error-color: #E10505;
  --tag-bg: #EFEFEF;
  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;
  --button-border-color: #ddd;
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --bg: white;
  --dialog-header-text: white;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
}